{% extends "layouts/dashboard.twig" %}

{% block title %}
	{{ name | capitalize }}
{% endblock %}

{% block style %}
	{{css('vendor/dataTables.bootstrap4')}}
	{{css('vendor/responsive.bootstrap4')}}
	{{css('vendor/buttons.bootstrap4')}}
	{{css('vendor/select.bootstrap4')}}
{% endblock %}

{% block main %}


	<div class="content-page">
		<div
			class="content">

			<!-- start page title -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title">
							{{ name | capitalize }}</h4>
					</div>
				</div>
			</div>
			<!-- end page title -->

			{{get_alert()}}
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="row mb-2">
								<div class="col-sm-4">
									<a href="javascript:void(0);" class="btn btn-danger mb-2" data-toggle="modal" data-target="#standard-modal">
										<i class="mdi mdi-plus-circle mr-2"></i>
										Add
										{{ name | capitalize }}</a>
									<!-- Standard modal -->
									<div id="standard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title" id="standard-modalLabel">Add
														{{ name | capitalize }}</h4>
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
												</div>
												<div class="modal-body">
													<form action="" method="post">
														{% if table.assetid %}
															<div class="form-group">
																<label for="assetid">Name</label>
																<select id="assetid" class="form-control" name="assetid">
																	{% for key in asset %}
																		<option value="{{key.id}}">{{key.name}}</option>
																	{% endfor %}
																</select>
															</div>
														{% endif %}
														{% if table.name %}
															<div class="form-group">
																<label for="name">Name</label>
																<input type="text" id="name" class="form-control" name="name">
															</div>
														{% endif %}
														{% if table.description %}
																<div class="form-group">
																	<label for="description">Description</label>
																	<input type="text" id="description" class="form-control" name="description">
																</div>
														{% endif %}
														{% if table.category %}
															<div class="form-group">
																<label for="assetid">Name</label>
																<select id="category" class="form-control" name="category">
																	{% for key in category %}
																		<option value="{{key}}">{{key}}</option>
																	{% endfor %}
																</select>
															</div>
														{% endif %}
														{% if table.amount %}
															<div class="form-group">
																<label for="amount">Amount</label>
																<input type="number" id="amount" class="form-control" name="amount">
															</div>
														{% endif %}
														{% if table.quantity %}
															<div class="form-group">
																<label for="quantity">Quantity</label>
																<input type="text" id="quantity" class="form-control" name="quantity">
															</div>
														{% endif %}
														{% if table.status %}
															<div class="form-group">
																<label for="status">Status</label>
																<input type="text" id="status" class="form-control" name="status">
															</div>
														{% endif %}
														{% if table.duration_start %}
															<div class="form-group">
																<label for="duration_start">Duration Start</label>
																<input type="text" id="duration_start" class="form-control" name="duration_start">
															</div>
														{% endif %}
														{% if table.duration_end %}
															<div class="form-group">
																<label for="duration_end">Duration End</label>
																<input type="text" id="duration_end" class="form-control" name="duration_end">
															</div>
														{% endif %}

														<button type="submit" class="btn btn-primary btn-block">Submit</button>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
													<button type="button" class="btn btn-primary">Save changes</button>
												</div>
											</div>
											<!-- /.modal-content -->
										</div>
										<!-- /.modal-dialog -->
									</div>
									<!-- /.modal -->
								</div>
								<div class="col-sm-8">
									<div class="text-sm-right">
										<button type="button" class="btn btn-success mb-2 mr-1">
											<i class="mdi mdi-cog-outline"></i>
										</button>
										<button type="button" class="btn btn-light mb-2 mr-1">Import</button>
										<button type="button" class="btn btn-light mb-2">Export</button>
									</div>
								</div>
								<!-- end col-->
							</div>

							<div class="table-responsive">
								<table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100">
									<thead>
										<tr>
											{% if table.assetid %}
												<th>
													{{table.assetid|capitalize}}
												</th>
											{% endif %}
											{% if table.name %}
												<th>
													{{table.name|capitalize}}
												</th>
											{% endif %}
											{% if table.description %}
												<th>
													{{table.description|capitalize}}
												</th>
											{% endif %}
											{% if table.category %}
												<th>
													{{table.category|capitalize}}
												</th>
											{% endif %}
											{% if table.amount %}
												<th>
													{{table.amount|capitalize}}
												</th>
											{% endif %}
											{% if table.quantity %}
												<th>
													{{table.quantity|capitalize}}
												</th>
											{% endif %}
											{% if table.total %}
												<th>
													{{table.total|capitalize}}
												</th>
											{% endif %}
											{% if table.status %}
												<th>
													{{table.status|capitalize}}
												</th>
											{% endif %}
											{% if table.duration_start %}
												<th>{{table.duration_start|capitalize}}
												</th>
											{% endif %}
											{% if table.duration_end %}
												<th>
													{{table.duration_end|capitalize}}
												</th>
											{% endif %}
											{% if table.created_at_time %}
												<th>
													{{table.created_at_time|capitalize}}
												</th>
											{% endif %}
											{% if table.created_at_date %}
												<th>
													{{table.created_at_date|capitalize}}
												</th>
											{% endif %}
											<th>Action</th>
										</tr>
									</thead>


									<tbody>

										{% for item in exp %}
											<tr>
												{% if table.assetid %}
													<td>
														{{item.getAsset().name|capitalize}}
													</td>
												{% endif %}
												{% if table.name %}
													<td>
														{{item.name|capitalize}}
													</td>
												{% endif %}
												{% if table.description %}
													<td>
														{{item.description|capitalize}}
													</td>
												{% endif %}
												{% if table.category %}
													<td>
														{{item.category|capitalize}}
													</td>
												{% endif %}
												{% if table.amount %}
													<td>
														{{item.amount|capitalize}}
													</td>
												{% endif %}
												{% if table.quantity %}
													<td>
														{{item.quantity|capitalize}}
													</td>
												{% endif %}
												{% if table.total %}
													<td>
														{{item.quantity * item.amount}}
													</td>
												{% endif %}
												{% if table.status %}
													<td>
														{{item.status|capitalize}}
													</td>
												{% endif %}
												{% if table.duration_start %}
													<td>{{item.duration_start|capitalize}}
													</td>
												{% endif %}
												{% if table.duration_end %}
													<td>
														{{item.duration_end|capitalize}}
													</td>
												{% endif %}
												{% if table.created_at_time %}
													<td>
														{{item.created_at|date('G:i')}}
													</td>
												{% endif %}
												{% if table.created_at_date %}
													<td>
														{{item.created_at|date('d M Y')}}
													</td>
												{% endif %}

												<td>
													<a href="javascript:void(0);" class="action-icon" data-toggle="modal" data-target="#edit{{item.id}}">
														<i class="mdi mdi-square-edit-outline"></i>
													</a>

													<a href="javascript:void(0);" class="action-icon" data-toggle="modal" data-target="#delete{{item.id}}">
														<i class="mdi mdi-delete"></i>
													</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<!-- end card-body-->
					</div>
					<!-- end card-->
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->

		</div>
		<!-- End Content -->

		{% for item in exp %}
			<!-- edit modal -->
			<div id="edit{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="standard-modalLabel">Edit Field</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						</div>
						<div class="modal-body">
							<form action="{{url('/dashboard/employee/explog/edit', {'id': item.id})}}" method="post">
								{% if table.assetid %}
									<div class="form-group">
										<label for="assetid">Name</label>
										<select id="assetid" class="form-control" name="assetid">
											{% for key in asset %}
												<option value="{{key.id}}" {{key.id == item.id ? "SELECTED" : ""}}>{{key.name}}</option>
											{% endfor %}
										</select>
									</div>
								{% endif %}
								{% if table.name %}
									<div class="form-group">
										<label for="name">Name</label>
										<input type="text" id="name" class="form-control" name="name" value="{{item.name}}">
									</div>
								{% endif %}
								{% if table.description %}
										<div class="form-group">
											<label for="description">Description</label>
											<input type="text" id="description" class="form-control" name="description" value="{{item.description}}">
										</div>
								{% endif %}
								{% if table.category %}
									<div class="form-group">
										<label for="assetid">Name</label>
										<select id="category" class="form-control" name="category">
											{% for key in category %}
												<option value="{{key}}" {{key == item.category ? "SELECTED" : ""}}>{{key}}</option>
											{% endfor %}
										</select>
									</div>
								{% endif %}
								{% if table.amount %}
									<div class="form-group">
										<label for="amount">Amount</label>
										<input type="number" id="amount" class="form-control" name="amount" value="{{item.amount}}">
									</div>
								{% endif %}
								{% if table.quantity %}
									<div class="form-group">
										<label for="quantity">Quantity</label>
										<input type="text" id="quantity" class="form-control" name="quantity" value="{{item.quantity}}">
									</div>
								{% endif %}
								{% if table.status %}
									<div class="form-group">
										<label for="status">Status</label>
										<input type="text" id="status" class="form-control" name="status" value="{{item.status}}">
									</div>
								{% endif %}
								{% if table.duration_start %}
									<div class="form-group">
										<label for="duration_start">Duration Start</label>
										<input type="text" id="duration_start" class="form-control" name="duration_start" value="{{item.duration_start}}">
									</div>
								{% endif %}
								{% if table.duration_end %}
									<div class="form-group">
										<label for="duration_end">Duration End</label>
										<input type="text" id="duration_end" class="form-control" name="duration_end" value="{{item.duration_end}}">
									</div>
								{% endif %}

								<button type="submit" class="btn btn-primary btn-block">Submit</button>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->

			<!-- Delete Modal -->
			<div id="delete{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="standard-modalLabel">Delete
								{{name}}</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						</div>
						<div class="modal-body">
							<form action="{{url('/dashboard/employee/explog/delete')}}" method="post">

								<div class="form-group">
									<p>Are you sure you want to delete?</p>
								</div>
								<button type="submit" class="btn btn-primary btn-block" data-dismiss="modal">No</button>
								<button type="submit" class="btn btn-danger btn-block" name="id" value="{{item.id}}">yes</button>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->

		{% endfor %}
		<!-- Footer Start -->
		<footer class="footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						2018 - 2020 © Hyper - Coderthemes.com
					</div>
					<div class="col-md-6">
						<div class="text-md-right footer-links d-none d-md-block">
							<a href="javascript: void(0);">About</a>
							<a href="javascript: void(0);">Support</a>
							<a href="javascript: void(0);">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</footer>


		<!-- end Footer -->
	</div>
	<!-- content-page -->
{% endblock %}
{% block js %}
	<!-- third party js -->
	{{jscript('vendor/jquery.dataTables.min')}}
	{{jscript('vendor/dataTables.bootstrap4')}}
	{{jscript('vendor/dataTables.responsive.min')}}
	{{jscript('vendor/responsive.bootstrap4.min')}}
	{{jscript('vendor/dataTables.buttons.min')}}
	{{jscript('vendor/buttons.bootstrap4.min')}}
	{{jscript('vendor/buttons.html5.min')}}
	{{jscript('vendor/buttons.flash.min')}}
	{{jscript('vendor/buttons.print.min')}}
	{{jscript('vendor/dataTables.keyTable.min')}}
	{{jscript('vendor/dataTables.select.min')}}
	<!-- third party js ends -->
	<!-- demo app -->
{{jscript('pages/demo.datatable-init')}}<!-- end demo js-->{% endblock %}
