{% extends "layouts/dashboard.twig" %}

{% block title %} Product {% endblock %}

{% block style %}
	{{css('vendor/dataTables.bootstrap4')}}
	{{css('vendor/responsive.bootstrap4')}}
	{{css('vendor/buttons.bootstrap4')}}
	{{css('vendor/select.bootstrap4')}}
{% endblock %}

{% block main %}


	<div class="content-page">
		<div
			class="content">

			<!-- start page title -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title">{{building.name}}</h4>
					</div>
				</div>
			</div>
			<!-- end page title -->

			{{get_alert()}}
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="row mb-2">
								<div class="col-sm-8">
									<a href="javascript:void(0);" class="btn btn-danger mb-2" data-toggle="modal" data-target="#standard-modal">
										<i class="mdi mdi-plus-circle mr-2"></i>
										Add Item</a>
									<!-- Standard modal -->
									<div id="standard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title" id="standard-modalLabel">Add Item</h4>
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
												</div>
												<div class="modal-body">
													<form action="{{url(['/dashboard/employee/warehouse', building.id])}}" method="post">
														<div class="form-group mb-3">
															<label for="product">Product</label>
															<select class="form-control" id="product" id="product" name="productid">
																{% for item in current %}
																	<option value="{{item.id}}">{{item.name}}
																		-
																		{{item.description}}
																	</option>
																{% endfor %}
															</select>
														</div>
														<div class="form-group mb-3">
															<label for="number">Quantity</label>
															<input class="form-control" id="number" type="number" name="number" min="1">
														</div>
														<button type="submit" class="btn btn-primary btn-block" name="id" value={{building.id}}>Add</button>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
													<button type="button" class="btn btn-primary">Save changes</button>
												</div>
											</div>
											<!-- /.modal-content -->
										</div>
										<!-- /.modal-dialog -->
									</div>
									<!-- /.modal -->


									<a href="javascript:void(0);" class="btn btn-danger mb-2" data-toggle="modal" data-target="#standard">
										<i class="mdi mdi-plus-circle mr-2"></i>
										Remove Item</a>
									<!-- Standard modal -->
									<div id="standard" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title" id="standard-modalLabel">Remove Item</h4>
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
												</div>
												<div class="modal-body">
													<form action="{{url(['/dashboard/employee/warehouse', building.id])}}" method="post">
														<div class="form-group mb-3">
															<label for="product">Product</label>
															<select class="form-control" id="product" id="product" name="productid">
																{% for item in current %}
																	<option value="{{item.id}}">{{item.name}}
																		-
																		{{item.description}}
																	</option>
																{% endfor %}
															</select>
														</div>
														<div class="form-group mb-3">
															<label for="number">Quantity</label>
															<input class="form-control" id="number" type="number" name="number" min="1">
														</div>
														<button type="submit" class="btn btn-primary btn-block" name="removeid" value={{building.id}}>Remove</button>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
													<button type="button" class="btn btn-primary">Save changes</button>
												</div>
											</div>
											<!-- /.modal-content -->
										</div>
										<!-- /.modal-dialog -->
									</div>
									<!-- /.modal -->
								</div>

								<!-- end col-->
							</div>

							<div class="table-responsive">
								<table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100">
									<thead>
										<tr>
											<th>User</th>
											<th>Product</th>
											<th>Description</th>
											<th>Quantity</th>
											<th>Type</th>
											<th>Date</th>
											<th>Action</th>
										</tr>
									</thead>


									<tbody>

										{% for item in warehouse %}
											<tr>
												<td>{{ item.getUser().username() }}</td>
												<td>{{ item.getProduct().name() }}</td>
												<td>{{ item.getProduct().description() }}</td>
												<td>{{ item.number() }}</td>
												<td>{{ item.type() == 0 ? 'Removed' : 'Added' }}</td>
												<td>{{ item.created_at() | date('d M Y') }}</td>
												<td>
													<a href="javascript:void(0);" class="action-icon" data-toggle="modal" data-target="#edit{{item.id}}">
														<i class="mdi mdi-square-edit-outline"></i>
													</a>

													<a href="javascript:void(0);" class="action-icon" data-toggle="modal" data-target="#delete{{item.id}}">
														<i class="mdi mdi-delete"></i>
													</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<!-- end card-body-->
					</div>
					<!-- end card-->
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->

		</div>
		<!-- End Content -->

		{% for item in vehicle %}
			<!-- edit modal -->
			<div id="edit{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="standard-modalLabel">Edit Building</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						</div>
						<div class="modal-body">
							<form action="{{url('/dashboard/employee/vehicle/edit', {'id': item.id})}}" method="post">
								<div class="form-group">
									<label for="category">Category</label>
									<input type="text" id="category" class="form-control" name="category" list="cat" value="{{item.category}}">
									<datalist id="cat">
										{% for key in vehicle %}
											<option value="{{key.category}}"></option>
										{% endfor %}

									</datalist>
								</div>
								<div class="form-group">
									<label for="name">Name</label>
									<input type="text" id="name" class="form-control" name="name" value="{{item.name}}">
								</div>
								<div class="form-group">
									<label for="description">Description</label>
									<input type="text" id="description" class="form-control" name="description" value="{{item.description}}">
								</div>

								<div class="form-group">
									<label for="manufacturer">Manufacturer</label>
									<input type="text" id="manufacturer" class="form-control" name="Manufacturer" value="{{item.manufacturer}}">
								</div>

								<div class="form-group">
									<label for="amount">Amount</label>
									<input type="text" id="amount" class="form-control" name="amount" value="{{item.amount}}">
								</div>

								<div class="form-group">
									<label for="serial_no">Serial No</label>
									<input type="text" id="serial_no" class="form-control" name="serial_no" value="{{item.serial_no}}">
								</div>


								<button type="submit" class="btn btn-primary btn-block">Submit</button>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->

			<!-- Delete Modal -->
			<div id="delete{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="standard-modalLabel">Edit Employee</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						</div>
						<div class="modal-body">
							<form action="{{url('/dashboard/employee/vehicle/delete')}}" method="post">

								<div class="form-group">
									<p>Are you sure you want to delete?</p>
								</div>
								<button type="submit" class="btn btn-primary btn-block" data-dismiss="modal">No</button>
								<button type="submit" class="btn btn-danger btn-block" name="id" value="{{item.id}}">yes</button>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->

		{% endfor %}
		<!-- Footer Start -->
		<footer class="footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						2018 - 2020 © Hyper - Coderthemes.com
					</div>
					<div class="col-md-6">
						<div class="text-md-right footer-links d-none d-md-block">
							<a href="javascript: void(0);">About</a>
							<a href="javascript: void(0);">Support</a>
							<a href="javascript: void(0);">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</footer>


		<!-- end Footer -->
	</div>
	<!-- content-page -->
{% endblock %}
{% block js %}
	<!-- third party js -->
	{{jscript('vendor/jquery.dataTables.min')}}
	{{jscript('vendor/dataTables.bootstrap4')}}
	{{jscript('vendor/dataTables.responsive.min')}}
	{{jscript('vendor/responsive.bootstrap4.min')}}
	{{jscript('vendor/dataTables.buttons.min')}}
	{{jscript('vendor/buttons.bootstrap4.min')}}
	{{jscript('vendor/buttons.html5.min')}}
	{{jscript('vendor/buttons.flash.min')}}
	{{jscript('vendor/buttons.print.min')}}
	{{jscript('vendor/dataTables.keyTable.min')}}
	{{jscript('vendor/dataTables.select.min')}}
	<!-- third party js ends -->
	<!-- demo app -->
{{jscript('pages/demo.datatable-init')}}<!-- end demo js-->{% endblock %}
