{% extends "layouts/dashboard.twig" %}

{% block title %}
	Disease Glossary
{% endblock %}

{% block style %}
	{{css('vendor/dataTables.bootstrap4')}}
	{{css('vendor/responsive.bootstrap4')}}
	{{css('vendor/buttons.bootstrap4')}}
	{{css('vendor/select.bootstrap4')}}
{% endblock %}

{% block main %}


	<div class="content-page">
		<div
			class="content">

			<!-- start page title -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title">Disease Glossary</h4>
					</div>
				</div>
			</div>
			<!-- end page title -->

			{{get_alert()}}
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="mb-2 row">
								<div class="col-sm-4">
									<a href="javascript:void(0);" class="mb-2 btn btn-danger" data-toggle="modal" data-target="#standard-modal">
										<i class="mr-2 mdi mdi-plus-circle"></i>
										Add Disease</a>
									<!-- Standard modal -->
									<div id="standard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title" id="standard-modalLabel">Add Disease</h4>
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
												</div>
												<div class="modal-body">
													<form action="" method="post">
														<div class="form-group">
															<label for="name">Common Name</label>
															<input type="text" id="name" class="form-control" name="name">
														</div>
														<div class="form-group">
															<label for="sci_name">Scientific Name</label>
															<input type="text" id="sci_name" class="form-control" name="sci_name">
														</div>

														<div class="form-group">
															<label for="category">Category</label>
															<input type="text" id="category" class="form-control" name="category">
														</div>

														<div class="form-group">
															<label for="disease_type">Disease Type</label>
															<input type="text" id="disease_type" name="disease_type" class="form-control">
														</div>
														<div class="form-group">
															<label for="cause">Probable cause of Infection</label>
															<input type="text" id="cause" name="cause" class="form-control">
														</div>
														<div class="form-group">
															<label for="symptoms">Symptoms</label>
															<input type="text" id="symptoms" name="symptoms" class="form-control">
														</div>
														<div class="form-group">
															<label for="disease_type">Causative Organism</label>
															<input type="text" id="causative_organism" name="causative_organism" class="form-control">
														</div>
														<div class="form-group">
															<label for="host">Host/Affected Plant</label>
															<input type="text" id="host" name="host" class="form-control">
														</div>
														<div class="form-group">
															<label for="life_cycle">Life Cycle</label>
															<input type="text" id="life_cycle" name="life_cycle" class="form-control">
														</div>
														<div class="form-group">
															<label for="treatment">Treatment and Solution</label>
															<input type="text" id="treatment" name="treatment" class="form-control">
														</div>
														<button type="submit" class="btn btn-primary btn-block">Submit</button>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
													<button type="button" class="btn btn-primary">Save changes</button>
												</div>
											</div>
											<!-- /.modal-content -->
										</div>
										<!-- /.modal-dialog -->
									</div>
									<!-- /.modal -->
								</div>
								<div class="col-sm-8">
									<div class="text-sm-right">
										<button type="button" class="mb-2 mr-1 btn btn-success">
											<i class="mdi mdi-cog-outline"></i>
										</button>
										<button type="button" class="mb-2 mr-1 btn btn-light">Import</button>
										<button type="button" class="mb-2 btn btn-light">Export</button>
									</div>
								</div>
								<!-- end col-->
							</div>

							<div class="table-responsive">
								<table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100">
									<thead>
										<tr>
											<th>Common Name</th>
											<th>Scientific Name</th>
											<th>Category</th>
											<th>Disease Type</th>
											<th>Probable Cause</th>
											<th>Symptoms</th>
											<th>Causative Organism</th>
											<th>Host/Affected Plant</th>
											<th>Life Cycle</th>
											<th>Treatment</th>
											<th>Date</th>
											<th>Action</th>
										</tr>
									</thead>


									<tbody>

										{% for item in diseases %}
											<tr>
												<td>{{item.name}}</td>
												<td>{{item.sci_name}}</td>
												<td>{{item.category}}</td>
												<td>{{item.disease_type}}</td>
												<td>{{item.cause}}</td>
												<td>{{item.symptoms}}</td>
												<td>{{item.causative_organism ?? null}}</td>
												<td>{{item.host}}</td>
												<td>{{item.life_cycle}}</td>
												<td>{{item.treatment}}</td>
												<td>{{item.created_at}}</td>
												<td>
													<a href="javascript:void(0);" class="action-icon" data-toggle="modal" data-target="#edit{{item.id}}">
														<i class="mdi mdi-square-edit-outline"></i>
													</a>

													<a href="javascript:void(0);" class="action-icon" data-toggle="modal" data-target="#delete{{item.id}}">
														<i class="mdi mdi-delete"></i>
													</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<!-- end card-body-->
					</div>
					<!-- end card-->
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->

		</div>
		<!-- End Content -->

		{% for item in diseases %}
			<!-- edit modal -->
			<div id="edit{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="standard-modalLabel">Edit Disease</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						</div>
						<div class="modal-body">
							<form action="{{url('/dashboard/organization/diseases-glossary/'~item.id)}}" method="post">

								<div class="form-group">
									<label for="name">Common Name</label>
									<input type="text" id="name" class="form-control" name="name" value="{{item.name}}">
								</div>
								<div class="form-group">
									<label for="sci_name">Scientific Name</label>
									<input type="text" id="sci_name" class="form-control" name="sci_name" value="{{item.sci_name}}">
								</div>

								<div class="form-group">
									<label for="category">Category</label>
									<input type="text" id="category" class="form-control" name="category" value="{{item.category}}">
								</div>

								<div class="form-group">
									<label for="disease_type">Disease Type</label>
									<input type="text" id="disease_type" name="disease_type" class="form-control" value="{{item.disease_type}}">
								</div>
								<div class="form-group">
									<label for="cause">Probable cause of Infection</label>
									<input type="text" id="cause" name="cause" class="form-control" value="{{item.cause}}">
								</div>
								<div class="form-group">
									<label for="symptoms">Symptoms</label>
									<input type="text" id="symptoms" name="symptoms" class="form-control" value="{{item.symptoms}}">
								</div>
								<div class="form-group">
									<label for="disease_type">Causative Organism</label>
									<input type="text" id="cause_organism" name="causative_organism" class="form-control" value="{{item.causative_organism}}">
								</div>
								<div class="form-group">
									<label for="host">Host/Affected Plant</label>
									<input type="text" id="host" name="host" class="form-control" value="{{item.host}}">
								</div>
								<div class="form-group">
									<label for="life_cycle">Life Cycle</label>
									<input type="text" id="life_cycle" name="life_cycle" class="form-control" value="{{item.life_cycle}}">
								</div>
								<div class="form-group">
									<label for="treatment">Treatment and Solution</label>
									<input type="text" id="treatment" name="treatment" class="form-control" value="{{item.treatment}}">
								</div>
								<button type="submit" class="btn btn-primary btn-block">Submit</button>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->

			<!-- Delete Modal -->
			<div id="delete{{item.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="standard-modalLabel">Edit Diseases</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						</div>
						<div class="modal-body">
							<form action="{{url('/dashboard/organization/diseases-glossary/'~item.id~'/delete')}}" method="post">

								<div class="form-group">
									<p>Are you sure you want to delete? </p>
								</div>
								<button type="submit" class="btn btn-primary btn-block" data-dismiss="modal">No</button>
								<button type="submit" class="btn btn-danger btn-block" name="id" value="{{item.id}}">yes</button>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->

		{% endfor %}
		<!-- Footer Start -->
		<footer class="footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						2018 - 2020 © Hyper - Coderthemes.com
					</div>
					<div class="col-md-6">
						<div class="text-md-right footer-links d-none d-md-block">
							<a href="javascript: void(0);">About</a>
							<a href="javascript: void(0);">Support</a>
							<a href="javascript: void(0);">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</footer><!-- end Footer --></div><!-- content-page -->{% endblock %}
{% block js %}<!-- third party js -->{{jscript('vendor/jquery.dataTables.min')}}{{jscript('vendor/dataTables.bootstrap4')}}{{jscript('vendor/dataTables.responsive.min')}}{{jscript('vendor/responsive.bootstrap4.min')}}{{jscript('vendor/dataTables.buttons.min')}}{{jscript('vendor/buttons.bootstrap4.min')}}{{jscript('vendor/buttons.html5.min')}}{{jscript('vendor/buttons.flash.min')}}{{jscript('vendor/buttons.print.min')}}{{jscript('vendor/dataTables.keyTable.min')}}{{jscript('vendor/dataTables.select.min')}}
	<!-- third party js ends -->
	<!-- demo app -->
{{jscript('pages/demo.datatable-init')}}<!-- end demo js-->{% endblock %}
