{% extends "layouts/dashboard.twig" %}

{% block style %}
	{{css('vendor/dataTables.bootstrap4')}}
	{{css('vendor/responsive.bootstrap4')}}
	{{css('vendor/buttons.bootstrap4')}}
	{{css('vendor/select.bootstrap4')}}
{% endblock %}

{% block main %}

	<div class="content-page">
		<div
			class="content">

			<!-- start page title -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<div class="page-title-right">
							<ol class="breadcrumb m-0">
								<li class="breadcrumb-item">
									<a href="javascript: void(0);">Hyper</a>
								</li>
								<li class="breadcrumb-item">
									<a href="javascript: void(0);">Pages</a>
								</li>
								<li class="breadcrumb-item active">Profile 2</li>
							</ol>
						</div>
						<h4 class="page-title">Profile 2</h4>
					</div>
				</div>
			</div>
			<!-- end page title -->
			{{get_alert()}}
			<div class="row">
				<div class="col-xl-4 col-lg-5">
					<div class="card text-center">
						<div class="card-body">
							<img src="{{asset('images/users/avatar-1.jpg')}}" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">

							<h4 class="mb-0 mt-2">{{req.user.username}}</h4>
							<p class="text-muted font-14">Organization</p>

							<button type="button" class="btn btn-success btn-sm mb-2">Follow</button>
							<button type="button" class="btn btn-danger btn-sm mb-2">Message</button>

							<div class="text-left mt-3">
								
								<p class="text-muted mb-2 font-13">
									<strong>Full Name :</strong>
									<span class="ml-2">{{req.user.firstname}} {{req.user.lastname}}</span>
								</p>
								<p class="text-muted mb-2 font-13">
									<strong>Email :</strong>
									<span class="ml-2 ">{{req.user.email}}</span>
								</p>

								<p class="text-muted mb-1 font-13">
									<strong>Location :</strong>
									<span class="ml-2">USA</span>
								</p>
							</div>


						</div>
						<!-- end card-body -->
					</div>
					<!-- end card -->

				</div>
				<!-- end col-->

				<div class="col-xl-8 col-lg-7">
					<div class="card">
						<div class="card-body">
							<ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
								<li class="nav-item">
									<a href="#settings" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0 active">
										Settings
									</a>
								</li>
							</ul>
							<div class="tab-content">

								<div class="tab-pane show active" id="settings">
									<form action="{{url('/dashboard/organization/profile/updateUser')}}" method="POST">
										<h5 class="mb-4 text-uppercase">
											<i class="mdi mdi-account-circle mr-1"></i>
											Personal Info</h5>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="firstname">First Name</label>
													<input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter first name" value="{{req.user.firstname}}">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="lastname">Last Name</label>
													<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter last name" value="{{req.user.lastname}}">
												</div>
											</div>
											<!-- end col -->
										</div>
										<!-- end row -->

										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="username">Username</label>
													<input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" value="{{req.user.username}}">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="email">Email Address</label>
													<input type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="{{req.user.email}}">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="userpassword">Password</label>
													<input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
												</div>
											</div>

											<div class="col-md-6">
												<div class="form-group">
													<label for="userpassword">Confirm Password</label>
													<input type="password" class="form-control" id="password1" name="password" placeholder="Confirm password">
												</div>
												<!-- end col -->
											</div>
											<!-- end row -->
										</div>
										<div class="text-right">
											<button type="submit" class="btn btn-success mt-2">
												<i class="mdi mdi-content-save"></i>
												Save</button>
										</div>
									</form>
									<form action="{{url('/dashboard/organization/profile/updateProfile')}}" method="POST">
										<h5 class="mb-3 text-uppercase bg-light p-2">
											<i class="mdi mdi-office-building mr-1"></i>
											Company Info</h5>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="companyname">Company Name</label>
													<input type="text" class="form-control" id="companyname" placeholder="Enter company name">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="caddress">Address</label>
													<input type="text" class="form-control" id="caddress" placeholder="Address">
												</div>
											</div>
											<!-- end col -->
										</div>
									
										<h5 class="mb-3 text-uppercase bg-light p-2">
											<i class="mdi mdi-earth mr-1"></i>
											ORGANIZATION INFO</h5>

										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="phone">Phone No</label>
													<input type="tel" class="form-control" id="phone" placeholder="Enter Phone Number" value="">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="bk">Bank Name</label>
													<input type="text" class="form-control" id="bkname" placeholder="Enter Your Bank Name" value="">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="bkacct">Bank Acct No</label>
													<input type="number" class="form-control" id="bkacct" placeholder="Enter Bank Account Number">
												</div>
											</div>
											<!-- end row -->
										</div>

										<div class="text-right">
											<button type="submit" class="btn btn-success mt-2">
												<i class="mdi mdi-content-save"></i>
												Save</button>
										</div>
									</form>
								</div>
								<!-- end settings content-->

							</div>
							<!-- end tab-content -->
						</div>
						<!-- end card body -->
					</div>
					<!-- end card -->
				</div>
				<!-- end col -->
			</div>
			<!-- end row-->

		</div>
		<!-- End Content -->

		<!-- Footer Start -->
		<footer class="footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						2018 - 2020 © Hyper - Coderthemes.com
					</div>
					<div class="col-md-6">
						<div class="text-md-right footer-links d-none d-md-block">
							<a href="javascript: void(0);">About</a>
							<a href="javascript: void(0);">Support</a>
							<a href="javascript: void(0);">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- end Footer -->

	</div>
	<!-- content-page -->


{% endblock %}
{% block js %}
	<!-- third party js -->
	{{jscript('vendor/jquery.dataTables.min')}}
	{{jscript('vendor/dataTables.bootstrap4')}}
	{{jscript('vendor/dataTables.responsive.min')}}
	{{jscript('vendor/responsive.bootstrap4.min')}}
	{{jscript('vendor/dataTables.buttons.min')}}
	{{jscript('vendor/buttons.bootstrap4.min')}}
	{{jscript('vendor/buttons.html5.min')}}
	{{jscript('vendor/buttons.flash.min')}}
	{{jscript('vendor/buttons.print.min')}}
	{{jscript('vendor/dataTables.keyTable.min')}}
	{{jscript('vendor/dataTables.select.min')}}
	<!-- third party js ends -->
	<!-- demo app -->
{{jscript('pages/demo.datatable-init')}}
	<!-- end demo js-->
{% endblock %}
